$background: #f9f9f9;
$accent: #922;

h1, h2, h3, h4, h5, strong, b { font-weight: 600; }

html, body { height: 100%; }
body {
  &, * { -webkit-font-smoothing: antialiased; }
  background: $background;
  color: #303030;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
  padding: 0; margin: 0;
}
img { border: none; }
strong { color: $accent }
#go-back-home {
  padding: 30px 0;
  width: 100%;
  background: white url('/images/banner.png') no-repeat center;
  // background-size: cover;
}
.capitalize { text-transform: capitalize; }
.upcase { text-transform: uppercase; }
.downcase { text-transform: lowercase; }
.hide { display: none; }
.a-r { text-align: right; }
.a-c { text-align: center; }
.small { font-size: 11px }
.pull-left { float: left; }
.pull-right { float: right; }
.muted { color: #8f8f8f; }
.text-big { font-size: 24px; line-height: 1em; }
ol, ol li { padding: 0; margin: 0; }
blockquote {
  margin: 0;
  font-style: normal !important;
}
figcaption {
  @extend .muted;
  font-size: 80%;
  text-align: center;
}

header {
  text-align: center;
  margin-bottom: 24px;
}

footer {
  width: 100%;
  max-width: 600px;
  line-height: 2em;
  // margin-top: 24px;
  margin: 24px auto 0px;
  padding-bottom: 30px;
  text-align: center;
  * { color: #797979; }
}

#container {
  @include clearfix;
  @include box-sizing(border-box);
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.block {
  // &:first-child, & + .block { border-top: 0; }
  // &:last-child { border-bottom: 0; }
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 6px;
  text-align: center;
  a.main {
    @include inline-block;
    padding: 2px 2px;
    margin-right: 12px;
    // margin-bottom: 6px;
    &:last-of-type { margin-right: 0; }
  }
}
ul > .block {
  @extend .block;
  border-bottom: 0px;
  &:last-of-type {
    border-bottom: 1px solid #efefef;
  }
}

a, .as-link {
  text-decoration: none;
  color: $accent;
  line-height: 1.4em;
  @include inline-block;
  @include transition(color 0.3s);
  &.main, &:hover {
    color: darken($accent, 10%);
  }
}


hr {
  border: 0;
  border-bottom: 1px dotted #CCC;
  margin: 25px 0;
}

ul.posts {
  &, li { margin: 0; padding: 0; list-style: none; }
  li { margin-bottom: 20px; }
  .datetime {
    @include inline-block;
    width: 130px;
    text-transform: uppercase;
    float: right;
    color: #999;
    font-size: 10px;
    text-align: right;
  }
}


article.post {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #eee;
  // margin: 0px -60px;
  text-align: left;
  border-top: 0;
  padding: 30px 0px;
  > * { padding: 0 60px; }
  ul, ol { ul, ol { margin-left: 20px; padding: 0; } }
  h1 {
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 30px;
    .date {
      color: #d0d0d0; font-size: 10px;
    }
  }
}

aside.toc {
  @include box-sizing(border-box);
  width: 300px;
  position: absolute;
  left: -330px;
  background: #fff;
  margin: 0;
  border-radius: 7px;
  border: 1px solid #eee;
  padding: 30px;
  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
  }
  > ul {
    padding: 0;
  }
}

article.post, section > p {
  font-size: 100%; line-height: 1.3em;
  * {
    max-width: 100%;
    @include box-sizing(border-box);
  }
  em strong { background-color: #ffffee; padding: 0 2px; }
  blockquote {
    @include transition(all, 0.3s);
    color: #606060;
    background: #f9f9f9;
    position: relative;
    overflow: hidden;
    display: block;
    padding: 15px 60px;
    &:hover { color: #454545; }
    &:hover:before { color: darken(#d0dfda, 8%); }
    &:before { left: -3px; }
    &:after { right: -2px; }
    &:before, &:after {
      content: "^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^";
      font-size: 24px;
      overflow: hidden;
      position: absolute;
      top: 0px; bottom: 0px;
      line-height: 0.4em;
      word-break: break-all;
      color: #d0dfda;
      display: block; width: 7px !important;
      white-space: normal;
    }
  }
  li { margin-left: 20px; }
  li .highlight { padding: 0 10px; }
  li p { margin-bottom: 5px; }
}
.highlight { margin: 0; padding: 0; }
pre {
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
  line-height: 1.2em;
  @include box-sizing(border-box);

}
code { font-size: 13px; color: #eee; background: #39382e; padding: 2px 4px 3px; border-radius: 2px; line-height: 1.3em; @include inline-block; }
img, table {
  max-width: 100%;
  &.half { width: 50%; }
  display: block;
  margin: auto;
}
